.cards {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: 15em;
  margin-top: 4em;
}
.cards .card {
  height: 180px;
  max-width: 300px;

  box-shadow: 12px 0px 32px 2px black;
  margin-left: -120px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}
.cards .card img {
  width: 20%;
  height: 20%;
  object-fit: cover;
}
.cards .card:hover {
  transform: translateY(-16px) rotate(3deg);
}
.cards .card:hover ~ .card {
  transform: translateX(140px);
}
